# Django
SECRET_KEY=CHANGEME!!!
DEBUG=True

#PosgresSQL
POSTGRES_DB=postgres_db
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser
POSTGRES_HOST=postgres

# Nav client
SOAP_WSDL=http://test/test?wsdl
SOAP_USER=username
SOAP_PASS=secretpass

#  Frontend
VUE_APP_PROTOCOL=http
VUE_APP_DOMAIN=localhost
