{% extends "base.html" %}
{% block sb_admin_custom_css %}

{% endblock sb_admin_custom_css %}
{% block title %}Журнал{% endblock title %}

{% block sb_admin_breadcrumb_active %}
 <li class="breadcrumb-item active">
      <i class="fa fa-bar-chart-o""></i>Журнал
 </li>
{% endblock sb_admin_breadcrumb_active %}

{% block content %}

{% load leaflet_tags %}
{% leaflet_css %}
{% leaflet_js %}

<div>
    <h1>qwe</h1>
    {% leaflet_map "main" callback="map_init" %}
</div>

<script type="text/javascript">
    function map_init(map, options) {
        // get point lat and lon
        var lon = "42.42";
        var lat = "42.42";

        // zoom to point & add it to map
        map.setView([lat, lon], 12);
        L.marker([lat, lon]).addTo(map);
    }
</script>
{% endblock %}
